{
  "openapi": "3.0.0",
  "info": {
    "title": "ShipEngine API",
    "version": "1.0.0",
    "termsOfService": "https://www.shipengine.com/terms-of-service",
    "contact": {
      "name": "ShipEngine Sales & Support",
      "email": "sales@shipengine.com",
      "url": "https://www.shipengine.com/contact-us"
    },
    "description": "ShipEngine™ is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.\n\n### Worldwide Major Carrier Support\nAccess the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).\n\n### Real-Time Tracking\n[Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.\n\n### Get Rates Across Carriers\nMake sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.\n\n### Global Address Validation\nNo matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)\n\nShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more.\n"
  },
  "tags": [
    {
      "name": "addresses",
      "description": "No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)\n\nShipEngine supports address validation for virtually every country on Earth, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/address-validation",
        "description": "Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges. ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.\n"
      }
    },
    {
      "name": "batches",
      "description": "batches\n"
    },
    {
      "name": "carrier_accounts",
      "description": "carrier accounts\n"
    },
    {
      "name": "carriers",
      "description": "carriers\n"
    },
    {
      "name": "environment",
      "description": "environment\n"
    },
    {
      "name": "insurance",
      "description": "insurance\n"
    },
    {
      "name": "labels",
      "description": "Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/quickstart-create-a-label",
        "description": "Follow this quick start guide to create your first shipping label with ShipEngine"
      }
    },
    {
      "name": "manifests",
      "description": "manifests\n"
    },
    {
      "name": "marketplace_accounts",
      "description": "marketplace accounts\n"
    },
    {
      "name": "natural_language_processing",
      "description": "ShipEngine's NLP (Natural Language Processing) APIs make it easy for you to extract structured shipping data — such as addresses, names, package weight and dimensions, insurance options, and more — from unstructured text like emails, PDFs, and chat messages.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/natural-language-processing-nlp",
        "description": "Find out how our Natural Language Processing APIs can help you extract useful and meaningful data from emails, documents, chat messages, or any other text source."
      }
    },
    {
      "name": "packages",
      "description": "packages\n"
    },
    {
      "name": "rates",
      "description": "Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/get-shipping-rates",
        "description": "This quick start guide shows you how to get shipping rates for multiple carriers so you can choose the fastest, cheapest, or most reliable option.\n"
      }
    },
    {
      "name": "shipments",
      "description": "shipments\n"
    },
    {
      "name": "tags",
      "description": "tags\n"
    },
    {
      "name": "tracking",
      "description": "[Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/track-a-package",
        "description": "Learn how to use ShipEngine to track any package with a carrier and a tracking number"
      }
    },
    {
      "name": "warehouses",
      "description": "warehouses\n"
    }
  ],
  "externalDocs": {
    "url": "https://docs.shipengine.com",
    "description": "ShipEngine's documentation is designed to help you start shipping as quickly as possible. With easy-to-follow quick start guides, detailed reference docs, and ready-made recipes for common use cases, you'll see real results in no time at all.\n"
  },
  "servers": [
    {
      "url": "https://api.shipengine.com"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/addresses/recognize": {
      "summary": "Parse an address",
      "description": "Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful address data (e.g. recipient name, address line 1, line 2, city, postal code) from this unstructured text.\n",
      "put": {
        "summary": "Parse an address",
        "description": "The address-recognition API makes it easy for you to extract address data from unstructured text, including the recipient name, line 1, line 2, city, postal code, and more.\n\nData often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed address data is returned in the same structure that's used for other ShipEngine APIs, such as address validation, rate quotes, and shipping labels.\n\n> ###### Note:\n> Address recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.\n",
        "tags": [
          "addresses",
          "natural_language_processing"
        ],
        "operationId": "address.parse",
        "requestBody": {
          "required": true,
          "description": "The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.\n",
          "content": {
            "application/json": {
              "schema": {
                "title": "recognize_address_request_body",
                "type": "object",
                "description": "The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.\n",
                "required": [
                  "text"
                ],
                "additionalProperties": false,
                "properties": {
                  "text": {
                    "type": "string",
                    "minLength": 1,
                    "example": "Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.",
                    "description": "The unstructured text that contains address-related entities"
                  },
                  "address": {
                    "description": "You can optionally provide any already-known address values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.\n",
                    "title": "partial_address",
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "example": "John Doe",
                        "description": "The name of a contact person at the address.  This field may be set instead of - or in addition to - the `company_name` field.\n"
                      },
                      "phone": {
                        "type": "string",
                        "minLength": 1,
                        "example": "+1 204-253-9411 ext. 123",
                        "description": "The phone number of a contact person at the address.  The format of this phone number varies depending on the country.\n"
                      },
                      "company_name": {
                        "type": "string",
                        "minLength": 1,
                        "example": "The Home Depot",
                        "description": "If this is a business address, then the company name should be specified here.\n"
                      },
                      "address_line1": {
                        "type": "string",
                        "minLength": 1,
                        "example": "1999 Bishop Grandin Blvd.",
                        "description": "The first line of the street address.  For some addresses, this may be the only line.  Other addresses may require 2 or 3 lines.\n"
                      },
                      "address_line2": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Unit 408",
                        "description": "The second line of the street address.  For some addresses, this line may not be needed.\n"
                      },
                      "address_line3": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Building #7",
                        "description": "The third line of the street address.  For some addresses, this line may not be needed.\n"
                      },
                      "city_locality": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Winnipeg",
                        "description": "The name of the city or locality"
                      },
                      "state_province": {
                        "type": "string",
                        "minLength": 1,
                        "example": "Manitoba",
                        "description": "The state or province.  For some countries (including the U.S.) only abbreviations are allowed.  Other countries allow the full name or abbreviation.\n"
                      },
                      "postal_code": {
                        "type": "string",
                        "minLength": 1,
                        "example": "MB R2M 3E8",
                        "description": "postal code"
                      },
                      "country_code": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 2,
                        "example": "CA",
                        "description": "The two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)\n"
                      },
                      "address_residential_indicator": {
                        "default": "unknown",
                        "example": "no",
                        "description": "Indicates whether this is a residential address.",
                        "title": "address_residential_indicator",
                        "type": "string",
                        "enum": [
                          "unknown",
                          "yes",
                          "no"
                        ]
                      }
                    }
                  }
                }
              },
              "examples": {
                "text_only": {
                  "summary": "Text only",
                  "description": "This is the simplest way to call the address-recognition API. Just pass the text to be parsed and nothing else.\n",
                  "value": {
                    "text": "Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652."
                  }
                },
                "some_known_fields": {
                  "summary": "Some known fields",
                  "description": "You can optionally provide an `address` object containing any already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.\n",
                  "value": {
                    "text": "Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.",
                    "address": {
                      "country_code": "US",
                      "address_residential_indicator": "yes"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "recognize_address_response_body",
                  "type": "object",
                  "description": "The parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.\n",
                  "required": [
                    "score",
                    "address",
                    "entities"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "score": {
                      "type": "number",
                      "format": "double",
                      "minimum": 0,
                      "maximum": 1,
                      "description": "A confidence score between zero and one that indicates how certain the API is that it understood the text.\n"
                    },
                    "address": {
                      "description": "The parsed address.  This address may not be complete, depending on how much information was included in the text and how confident the API is about each recognized entity.\n\n> ###### Note:\n> The address-recognition API does not currently perform any validation of the parsed address, so we recommend that you use the [address-validation API](https://docs.shipengine.com/docs/address-validation) to ensure that the address is correct.\n",
                      "title": "partial_address",
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "John Doe",
                          "description": "The name of a contact person at the address.  This field may be set instead of - or in addition to - the `company_name` field.\n"
                        },
                        "phone": {
                          "type": "string",
                          "minLength": 1,
                          "example": "+1 204-253-9411 ext. 123",
                          "description": "The phone number of a contact person at the address.  The format of this phone number varies depending on the country.\n"
                        },
                        "company_name": {
                          "type": "string",
                          "minLength": 1,
                          "example": "The Home Depot",
                          "description": "If this is a business address, then the company name should be specified here.\n"
                        },
                        "address_line1": {
                          "type": "string",
                          "minLength": 1,
                          "example": "1999 Bishop Grandin Blvd.",
                          "description": "The first line of the street address.  For some addresses, this may be the only line.  Other addresses may require 2 or 3 lines.\n"
                        },
                        "address_line2": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Unit 408",
                          "description": "The second line of the street address.  For some addresses, this line may not be needed.\n"
                        },
                        "address_line3": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Building #7",
                          "description": "The third line of the street address.  For some addresses, this line may not be needed.\n"
                        },
                        "city_locality": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Winnipeg",
                          "description": "The name of the city or locality"
                        },
                        "state_province": {
                          "type": "string",
                          "minLength": 1,
                          "example": "Manitoba",
                          "description": "The state or province.  For some countries (including the U.S.) only abbreviations are allowed.  Other countries allow the full name or abbreviation.\n"
                        },
                        "postal_code": {
                          "type": "string",
                          "minLength": 1,
                          "example": "MB R2M 3E8",
                          "description": "postal code"
                        },
                        "country_code": {
                          "type": "string",
                          "minLength": 2,
                          "maxLength": 2,
                          "example": "CA",
                          "description": "The two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)\n"
                        },
                        "address_residential_indicator": {
                          "default": "unknown",
                          "example": "no",
                          "description": "Indicates whether this is a residential address.",
                          "title": "address_residential_indicator",
                          "type": "string",
                          "enum": [
                            "unknown",
                            "yes",
                            "no"
                          ]
                        }
                      }
                    },
                    "entities": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "title": "recognized_entity",
                        "type": "object",
                        "description": "An entity is a single piece of data that was recognized in unstructured text.  For example, a city, a postal code, package dimensions, insured value, etc.  Each entity includes the original text and the parsed value.\n",
                        "required": [
                          "type",
                          "score",
                          "text",
                          "start_index",
                          "end_index"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "type": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The Entity type (e.g. \"weight\", \"person\", \"address_line1\", etc.)"
                          },
                          "score": {
                            "format": "double",
                            "minimum": 0,
                            "maximum": 1,
                            "type": "number",
                            "description": "A confidence score between zero and one that indicates how certain the API is that it correctly recognized this entity\n"
                          },
                          "text": {
                            "type": "string",
                            "minLength": 1,
                            "description": "The substring from the original text that was recognized as this entity"
                          },
                          "start_index": {
                            "type": "number",
                            "format": "integer",
                            "minimum": 0,
                            "description": "The index of the first character of this entity within the original text"
                          },
                          "end_index": {
                            "type": "number",
                            "format": "integer",
                            "minimum": 0,
                            "description": "The index of the last character of this entity within the original text"
                          },
                          "result": {
                            "type": "object",
                            "description": "The result object is different for each entity type.\n\nMost entity results have a `value` field, which is the normalized value of the entity.  For example, if the substring \"john doe\" was recognized as a \"person\" entity, then the value might be normalized to have proper capitalization (e.g. \"John Doe\").  Or if the substring \"ft worth\" was recognized as a \"city\" entity, then the value might be normalized to \"Fort Worth\".\n\nSome entities have other information in addition to, or instead of a `value`.  For example, a \"dimensions\" entity will have separate fields for `length`, `width`, `height`, and `unit`.\n"
                          }
                        }
                      },
                      "description": "All of the entities that were recognized in the text. An \"entity\" is a single piece of data, such as a city, a postal code, or an address line.  Each entity includes the original text and the parsed value.\n"
                    }
                  }
                },
                "examples": {
                  "text_only": {
                    "description": "This response shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` is not populated and the `address_residential_indicator` is \"unknown\", since neither of these fields was included in the text.\n",
                    "value": {
                      "score": 0.9122137426845613,
                      "address": {
                        "name": "Margie McMiller",
                        "address_line1": "3800 North Lamar",
                        "address_line2": "Suite 200",
                        "city_locality": "Austin",
                        "state_province": "TX",
                        "postal_code": 78652,
                        "address_residential_indicator": "unknown"
                      },
                      "entities": [
                        {
                          "type": "person",
                          "score": 0.9519646137063122,
                          "text": "Margie McMiller",
                          "start_index": 0,
                          "end_index": 14,
                          "result": {
                            "value": "Margie McMiller"
                          }
                        },
                        {
                          "type": "address_line",
                          "score": 0.9805313966503588,
                          "text": "3800 North Lamar",
                          "start_index": 19,
                          "end_index": 34,
                          "result": {
                            "line": 1,
                            "value": "3800 North Lamar"
                          }
                        },
                        {
                          "type": "number",
                          "score": 0.9805313966503588,
                          "text": 3800,
                          "start_index": 19,
                          "end_index": 22,
                          "result": {
                            "type": "cardinal",
                            "value": 3800
                          }
                        },
                        {
                          "type": "address_line",
                          "score": 1,
                          "text": "suite 200",
                          "start_index": 36,
                          "end_index": 44,
                          "result": {
                            "line": 2,
                            "value": "Suite 200"
                          }
                        },
                        {
                          "type": "number",
                          "score": 0.9805313966503588,
                          "text": 200,
                          "start_index": 42,
                          "end_index": 44,
                          "result": {
                            "type": "cardinal",
                            "value": 200
                          }
                        },
                        {
                          "type": "city_locality",
                          "score": 0.9805313966503588,
                          "text": "austin",
                          "start_index": 49,
                          "end_index": 54,
                          "result": {
                            "value": "Austin"
                          }
                        },
                        {
                          "type": "state_province",
                          "score": 0.6082904353940255,
                          "text": "tx",
                          "start_index": 57,
                          "end_index": 58,
                          "result": {
                            "name": "Texas",
                            "value": "TX"
                          }
                        },
                        {
                          "type": "postal_code",
                          "score": 0.9519646137063122,
                          "text": 78652,
                          "start_index": 84,
                          "end_index": 88,
                          "result": {
                            "value": 78652
                          }
                        }
                      ]
                    }
                  },
                  "some_known_fields": {
                    "description": "This response is shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` and `address_residential_indicator` fields are populated with the values that were provided in the request.\n",
                    "value": {
                      "score": 0.9122137426845613,
                      "address": {
                        "name": "Margie McMiller",
                        "address_line1": "3800 North Lamar",
                        "address_line2": "Suite 200",
                        "city_locality": "Austin",
                        "state_province": "TX",
                        "postal_code": 78652,
                        "country_code": "US",
                        "address_residential_indicator": "yes"
                      },
                      "entities": [
                        {
                          "type": "person",
                          "score": 0.9519646137063122,
                          "text": "Margie McMiller",
                          "start_index": 0,
                          "end_index": 14,
                          "result": {
                            "value": "Margie McMiller"
                          }
                        },
                        {
                          "type": "address_line",
                          "score": 0.9805313966503588,
                          "text": "3800 North Lamar",
                          "start_index": 19,
                          "end_index": 34,
                          "result": {
                            "line": 1,
                            "value": "3800 North Lamar"
                          }
                        },
                        {
                          "type": "number",
                          "score": 0.9805313966503588,
                          "text": 3800,
                          "start_index": 19,
                          "end_index": 22,
                          "result": {
                            "type": "cardinal",
                            "value": 3800
                          }
                        },
                        {
                          "type": "address_line",
                          "score": 1,
                          "text": "suite 200",
                          "start_index": 36,
                          "end_index": 44,
                          "result": {
                            "line": 2,
                            "value": "Suite 200"
                          }
                        },
                        {
                          "type": "number",
                          "score": 0.9805313966503588,
                          "text": 200,
                          "start_index": 42,
                          "end_index": 44,
                          "result": {
                            "type": "cardinal",
                            "value": 200
                          }
                        },
                        {
                          "type": "city_locality",
                          "score": 0.9805313966503588,
                          "text": "austin",
                          "start_index": 49,
                          "end_index": 54,
                          "result": {
                            "value": "Austin"
                          }
                        },
                        {
                          "type": "state_province",
                          "score": 0.6082904353940255,
                          "text": "tx",
                          "start_index": 57,
                          "end_index": 58,
                          "result": {
                            "name": "Texas",
                            "value": "TX"
                          }
                        },
                        {
                          "type": "postal_code",
                          "score": 0.9519646137063122,
                          "text": 78652,
                          "start_index": 84,
                          "end_index": 88,
                          "result": {
                            "value": 78652
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/addresses/validate": {
      "post": {
        "tags": [
          "addresses"
        ],
        "operationId": "addresses.validate_addresses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "address_validation_request_body",
                "type": "array",
                "items": {
                  "title": "address",
                  "type": "object",
                  "description": "A mailing address, including any residential or business address anywhere in the world.\n\n> ###### Note:\n> Either `name` or `company_name` must be set. Both may be specified, if relevant.\n",
                  "required": [
                    "address_line1",
                    "city_locality",
                    "state_province",
                    "postal_code",
                    "country_code",
                    "address_residential_indicator"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string",
                      "minLength": 1,
                      "example": "John Doe",
                      "description": "The name of a contact person at the address.  This field may be set instead of - or in addition to - the `company_name` field.\n"
                    },
                    "phone": {
                      "type": "string",
                      "minLength": 1,
                      "example": "+1 204-253-9411 ext. 123",
                      "description": "The phone number of a contact person at the address.  The format of this phone number varies depending on the country.\n"
                    },
                    "company_name": {
                      "type": "string",
                      "minLength": 1,
                      "example": "The Home Depot",
                      "description": "If this is a business address, then the company name should be specified here.\n"
                    },
                    "address_line1": {
                      "type": "string",
                      "minLength": 1,
                      "example": "1999 Bishop Grandin Blvd.",
                      "description": "The first line of the street address.  For some addresses, this may be the only line.  Other addresses may require 2 or 3 lines.\n"
                    },
                    "address_line2": {
                      "type": "string",
                      "minLength": 1,
                      "example": "Unit 408",
                      "description": "The second line of the street address.  For some addresses, this line may not be needed.\n"
                    },
                    "address_line3": {
                      "type": "string",
                      "minLength": 1,
                      "example": "Building #7",
                      "description": "The third line of the street address.  For some addresses, this line may not be needed.\n"
                    },
                    "city_locality": {
                      "type": "string",
                      "minLength": 1,
                      "example": "Winnipeg",
                      "description": "The name of the city or locality"
                    },
                    "state_province": {
                      "type": "string",
                      "minLength": 1,
                      "example": "Manitoba",
                      "description": "The state or province.  For some countries (including the U.S.) only abbreviations are allowed.  Other countries allow the full name or abbreviation.\n"
                    },
                    "postal_code": {
                      "type": "string",
                      "minLength": 1,
                      "example": "MB R2M 3E8",
                      "description": "postal code"
                    },
                    "country_code": {
                      "type": "string",
                      "minLength": 2,
                      "maxLength": 2,
                      "example": "CA",
                      "description": "The two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)\n"
                    },
                    "address_residential_indicator": {
                      "default": "unknown",
                      "example": "no",
                      "description": "Indicates whether this is a residential address.",
                      "title": "address_residential_indicator",
                      "type": "string",
                      "enum": [
                        "unknown",
                        "yes",
                        "no"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "address_validation_response_body",
                  "type": "array",
                  "items": {
                    "title": "address_validation_result",
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "status": {
                        "title": "address_validation_status",
                        "type": "string",
                        "enum": [
                          "unverified",
                          "verified",
                          "warning",
                          "error"
                        ],
                        "description": "The possible address validation status values"
                      },
                      "original_address": {
                        "title": "address",
                        "type": "object",
                        "description": "A mailing address, including any residential or business address anywhere in the world.\n\n> ###### Note:\n> Either `name` or `company_name` must be set. Both may be specified, if relevant.\n",
                        "required": [
                          "address_line1",
                          "city_locality",
                          "state_province",
                          "postal_code",
                          "country_code",
                          "address_residential_indicator"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "example": "John Doe",
                            "description": "The name of a contact person at the address.  This field may be set instead of - or in addition to - the `company_name` field.\n"
                          },
                          "phone": {
                            "type": "string",
                            "minLength": 1,
                            "example": "+1 204-253-9411 ext. 123",
                            "description": "The phone number of a contact person at the address.  The format of this phone number varies depending on the country.\n"
                          },
                          "company_name": {
                            "type": "string",
                            "minLength": 1,
                            "example": "The Home Depot",
                            "description": "If this is a business address, then the company name should be specified here.\n"
                          },
                          "address_line1": {
                            "type": "string",
                            "minLength": 1,
                            "example": "1999 Bishop Grandin Blvd.",
                            "description": "The first line of the street address.  For some addresses, this may be the only line.  Other addresses may require 2 or 3 lines.\n"
                          },
                          "address_line2": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Unit 408",
                            "description": "The second line of the street address.  For some addresses, this line may not be needed.\n"
                          },
                          "address_line3": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Building #7",
                            "description": "The third line of the street address.  For some addresses, this line may not be needed.\n"
                          },
                          "city_locality": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Winnipeg",
                            "description": "The name of the city or locality"
                          },
                          "state_province": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Manitoba",
                            "description": "The state or province.  For some countries (including the U.S.) only abbreviations are allowed.  Other countries allow the full name or abbreviation.\n"
                          },
                          "postal_code": {
                            "type": "string",
                            "minLength": 1,
                            "example": "MB R2M 3E8",
                            "description": "postal code"
                          },
                          "country_code": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 2,
                            "example": "CA",
                            "description": "The two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)\n"
                          },
                          "address_residential_indicator": {
                            "default": "unknown",
                            "example": "no",
                            "description": "Indicates whether this is a residential address.",
                            "title": "address_residential_indicator",
                            "type": "string",
                            "enum": [
                              "unknown",
                              "yes",
                              "no"
                            ]
                          }
                        }
                      },
                      "matched_address": {
                        "title": "address",
                        "type": "object",
                        "description": "A mailing address, including any residential or business address anywhere in the world.\n\n> ###### Note:\n> Either `name` or `company_name` must be set. Both may be specified, if relevant.\n",
                        "required": [
                          "address_line1",
                          "city_locality",
                          "state_province",
                          "postal_code",
                          "country_code",
                          "address_residential_indicator"
                        ],
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "example": "John Doe",
                            "description": "The name of a contact person at the address.  This field may be set instead of - or in addition to - the `company_name` field.\n"
                          },
                          "phone": {
                            "type": "string",
                            "minLength": 1,
                            "example": "+1 204-253-9411 ext. 123",
                            "description": "The phone number of a contact person at the address.  The format of this phone number varies depending on the country.\n"
                          },
                          "company_name": {
                            "type": "string",
                            "minLength": 1,
                            "example": "The Home Depot",
                            "description": "If this is a business address, then the company name should be specified here.\n"
                          },
                          "address_line1": {
                            "type": "string",
                            "minLength": 1,
                            "example": "1999 Bishop Grandin Blvd.",
                            "description": "The first line of the street address.  For some addresses, this may be the only line.  Other addresses may require 2 or 3 lines.\n"
                          },
                          "address_line2": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Unit 408",
                            "description": "The second line of the street address.  For some addresses, this line may not be needed.\n"
                          },
                          "address_line3": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Building #7",
                            "description": "The third line of the street address.  For some addresses, this line may not be needed.\n"
                          },
                          "city_locality": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Winnipeg",
                            "description": "The name of the city or locality"
                          },
                          "state_province": {
                            "type": "string",
                            "minLength": 1,
                            "example": "Manitoba",
                            "description": "The state or province.  For some countries (including the U.S.) only abbreviations are allowed.  Other countries allow the full name or abbreviation.\n"
                          },
                          "postal_code": {
                            "type": "string",
                            "minLength": 1,
                            "example": "MB R2M 3E8",
                            "description": "postal code"
                          },
                          "country_code": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 2,
                            "example": "CA",
                            "description": "The two-letter [ISO 3166-1 country code](https://en.wikipedia.org/wiki/ISO_3166-1)\n"
                          },
                          "address_residential_indicator": {
                            "default": "unknown",
                            "example": "no",
                            "description": "Indicates whether this is a residential address.",
                            "title": "address_residential_indicator",
                            "type": "string",
                            "enum": [
                              "unknown",
                              "yes",
                              "no"
                            ]
                          }
                        }
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "title": "response_message",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "code": {
                              "title": "code",
                              "type": "string",
                              "enum": [
                                "a1000",
                                "a1001",
                                "a1002",
                                "a1003",
                                "a1004",
                                "a1005",
                                "a1006",
                                "a1007",
                                "a1008",
                                "r1000",
                                "r1001",
                                "r1002",
                                "r1003"
                              ],
                              "description": "The possible code values"
                            },
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "title": "type",
                              "type": "string",
                              "enum": [
                                "error",
                                "warning",
                                "info"
                              ],
                              "description": "The possible type values"
                            },
                            "detail_code": {
                              "title": "detail_code",
                              "type": "string",
                              "enum": [
                                "non_supported_country",
                                "minimum_postal_code_verification_failed",
                                "street_does_not_match_unique_street_name",
                                "multiple_directionals",
                                "multiple_matches",
                                "suite_not_valid",
                                "suite_missing",
                                "invalid_house_number",
                                "missing_house_number",
                                "invalid_box_number",
                                "missing_box_number",
                                "missing_cmra_or_private_mail_box_number",
                                "suite_has_no_secondaries",
                                "postal_code_changed_or_added",
                                "state_province_changed_or_added",
                                "city_locality_changed_or_added",
                                "urbanization_changed",
                                "street_name_spelling_changed_or_added",
                                "street_name_type_changed_or_added",
                                "street_direction_changed_or_added",
                                "suite_type_changed_or_added",
                                "suite_unit_number_changed_or_added",
                                "double_dependent_locality_changed_or_added",
                                "subadministrative_area_changed_or_added",
                                "subnational_area_changed_or_added",
                                "p_o_box_changed_or_added",
                                "premise_type_changed_or_added",
                                "house_number_changed",
                                "organization_changed_or_added",
                                "partially_verified_to_state_level",
                                "partially_verified_to_city_level",
                                "partially_verified_to_street_level",
                                "partially_verified_to_premise_level",
                                "verified_to_state_level",
                                "verified_to_city_level",
                                "verified_to_street_level",
                                "verified_to_premise_level",
                                "verified_to_suite_level",
                                "coded_to_street_lavel",
                                "coded_to_neighborhood_level",
                                "coded_to_community_level",
                                "coded_to_state_level",
                                "coded_to_rooftop_level",
                                "coded_to_rooftop_interpolation_level"
                              ],
                              "description": "The possible detail code values"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches": {
      "get": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "title": "batch_status",
              "type": "string",
              "enum": [
                "open",
                "queued",
                "processing",
                "completed",
                "completed_with_errors",
                "archived",
                "notifying",
                "invalid"
              ],
              "description": "The possible batch status values"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "title": "sort_dir",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Controls the sort order of queries\n\n|Value     |Description\n|:---------|:-----------------------------------------------------\n|`asc`     |Return results in ascending order\n|`desc`    |Return results in descending order\n"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "title": "batches_sort_by",
              "type": "string",
              "enum": [
                "ship_date",
                "processed_at"
              ],
              "description": "The possible batches sort by values"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "list_batch_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "batches": {
                      "type": "array",
                      "items": {
                        "title": "batch",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "label_layout": {
                            "type": "string"
                          },
                          "label_format": {
                            "title": "label_format",
                            "type": "string",
                            "enum": [
                              "pdf",
                              "png",
                              "zpl"
                            ],
                            "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                          },
                          "batch_id": {
                            "description": "A string that uniquely identifies the batch",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "external_batch_id": {
                            "description": "A string that uniquely identifies the external batch",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "batch_notes": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "processed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "errors": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "warnings": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "completed": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "forms": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "batch_shipments_url": {
                            "title": "optional_link",
                            "type": "object",
                            "description": "A link to a related resource, or an empty object if there is no resource to link to",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource, if any",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "batch_labels_url": {
                            "title": "optional_link",
                            "type": "object",
                            "description": "A link to a related resource, or an empty object if there is no resource to link to",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource, if any",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "batch_errors_url": {
                            "title": "optional_link",
                            "type": "object",
                            "description": "A link to a related resource, or an empty object if there is no resource to link to",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource, if any",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "label_download": {
                            "title": "optional_link",
                            "type": "object",
                            "description": "A link to a related resource, or an empty object if there is no resource to link to",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource, if any",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "form_download": {
                            "title": "optional_link",
                            "type": "object",
                            "description": "A link to a related resource, or an empty object if there is no resource to link to",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource, if any",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "status": {
                            "title": "batch_status",
                            "type": "string",
                            "enum": [
                              "open",
                              "queued",
                              "processing",
                              "completed",
                              "completed_with_errors",
                              "archived",
                              "notifying",
                              "invalid"
                            ],
                            "description": "The possible batch status values"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "links": {
                      "title": "pagination_link",
                      "type": "object",
                      "description": "Helpful links to other pages of results",
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "first": {
                          "description": "The link to the first page of results.  This object will _always_ have an `href` field. If there are no results, then the first page will contain an empty array of items.\n",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "href"
                          ],
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource, if any",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "last": {
                          "description": "The link to the final page of results.  This object will _always_ have an `href` field. If there are no results, then the final page will contain an empty array of items.\n",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "required": [
                            "href"
                          ],
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource, if any",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "prev": {
                          "description": "The link to the previous page of results.  The `href` field will only be set when the `page` is 2 or greater.\n",
                          "title": "optional_link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource, if any",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "next": {
                          "description": "The link to the next page of results.  The `href` field will only be set when the `page` is less than `pages`.\n",
                          "title": "optional_link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource, if any",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "create_batch_request_body",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "external_batch_id": {
                    "description": "A string that uniquely identifies the external batch",
                    "title": "se_id",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 25,
                    "pattern": "^se(-[a-z0-9]+)+$",
                    "example": "se-28529731"
                  },
                  "batch_notes": {
                    "type": "string"
                  },
                  "shipment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "rate_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "create_batch_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "label_layout": {
                      "type": "string"
                    },
                    "label_format": {
                      "title": "label_format",
                      "type": "string",
                      "enum": [
                        "pdf",
                        "png",
                        "zpl"
                      ],
                      "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                    },
                    "batch_id": {
                      "description": "A string that uniquely identifies the batch",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "external_batch_id": {
                      "description": "A string that uniquely identifies the external batch",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "batch_notes": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "processed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "errors": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "warnings": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "completed": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "forms": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "batch_shipments_url": {
                      "title": "optional_link",
                      "type": "object",
                      "description": "A link to a related resource, or an empty object if there is no resource to link to",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource, if any",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_labels_url": {
                      "title": "optional_link",
                      "type": "object",
                      "description": "A link to a related resource, or an empty object if there is no resource to link to",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource, if any",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_errors_url": {
                      "title": "optional_link",
                      "type": "object",
                      "description": "A link to a related resource, or an empty object if there is no resource to link to",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource, if any",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "label_download": {
                      "title": "optional_link",
                      "type": "object",
                      "description": "A link to a related resource, or an empty object if there is no resource to link to",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource, if any",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "form_download": {
                      "title": "optional_link",
                      "type": "object",
                      "description": "A link to a related resource, or an empty object if there is no resource to link to",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource, if any",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "status": {
                      "title": "batch_status",
                      "type": "string",
                      "enum": [
                        "open",
                        "queued",
                        "processing",
                        "completed",
                        "completed_with_errors",
                        "archived",
                        "notifying",
                        "invalid"
                      ],
                      "description": "The possible batch status values"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID that uniquely identifies the request id",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/external_batch_id/{external_batch_id}": {
      "get": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.get_by_external_id",
        "parameters": [
          {
            "name": "external_batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "se_id",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^se(-[a-z0-9]+)+$",
              "example": "se-28529731",
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "batches_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "label_layout": {
                      "type": "string"
                    },
                    "label_format": {
                      "title": "label_format",
                      "type": "string",
                      "enum": [
                        "pdf",
                        "png",
                        "zpl"
                      ],
                      "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                    },
                    "batch_id": {
                      "description": "A string that uniquely identifies the batch",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "external_batch_id": {
                      "description": "A string that uniquely identifies the external batch",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "batch_notes": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
[...]
