{
  "openapi": "3.0.0",
  "info": {
    "title": "ShipEngine API",
    "version": "1.0.0",
    "termsOfService": "https://www.shipengine.com/terms-of-service",
    "contact": {
      "name": "ShipEngine Sales & Support",
      "email": "sales@shipengine.com",
      "url": "https://www.shipengine.com/contact-us"
    },
    "description": "ShipEngine™ is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.\n\n### Worldwide Major Carrier Support\nAccess the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).\n\n### Real-Time Tracking\n[Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.\n\n### Get Rates Across Carriers\nMake sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.\n\n### Global Address Validation\nNo matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)\n\nShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more.\n"
  },
  "tags": [
    {
      "name": "address_validation",
      "description": "No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)\n\nShipEngine supports address validation for virtually every country on Earth, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/address-validation",
        "description": "Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges. ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.\n"
      }
    },
    {
      "name": "labels",
      "description": "Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/quickstart-create-a-label",
        "description": "Follow this quick start guide to create your first shipping label with ShipEngine"
      }
    },
    {
      "name": "rates",
      "description": "Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/get-shipping-rates",
        "description": "This quick start guide shows you how to get shipping rates for multiple carriers so you can choose the fastest, cheapest, or most reliable option.\n"
      }
    },
    {
      "name": "tracking",
      "description": "[Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.\n",
      "externalDocs": {
        "url": "https://docs.shipengine.com/docs/track-a-package",
        "description": "Learn how to use ShipEngine to track any package with a carrier and a tracking number"
      }
    },
    {
      "name": "batches",
      "description": "batches\n"
    },
    {
      "name": "carrier_accounts",
      "description": "carrier accounts\n"
    },
    {
      "name": "carriers",
      "description": "carriers\n"
    },
    {
      "name": "environment",
      "description": "environment\n"
    },
    {
      "name": "insurance",
      "description": "insurance\n"
    },
    {
      "name": "manifests",
      "description": "manifests\n"
    },
    {
      "name": "marketplace_accounts",
      "description": "marketplace accounts\n"
    },
    {
      "name": "packages",
      "description": "packages\n"
    },
    {
      "name": "shipments",
      "description": "shipments\n"
    },
    {
      "name": "tags",
      "description": "tags\n"
    },
    {
      "name": "warehouses",
      "description": "warehouses\n"
    }
  ],
  "externalDocs": {
    "url": "https://docs.shipengine.com",
    "description": "ShipEngine's documentation is designed to help you start shipping as quickly as possible. With easy-to-follow quick start guides, detailed reference docs, and ready-made recipes for common use cases, you'll see real results in no time at all.\n"
  },
  "servers": [
    {
      "url": "https://api.shipengine.com"
    }
  ],
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/labels": {
      "summary": "Print shipping labels",
      "description": "Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).\n",
      "get": {
        "summary": "List labels",
        "description": "This endpoint returns a list of labels that you've [created](https://docs.shipengine.com/docs/quickstart-create-a-label). You can optionally filter the results as well as control their sort order and the number of results returned at a time.\n\nBy default, all labels are returned, 25 at a time, starting with the most recently created ones.  You can combine multiple filter options to narrow-down the results.  For example, if you only want to get your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`\n\n> ###### Warning\n> Test labels (those created with `test_label: true`) are not included in the results.  If you've only ever created test labels, then the results will be empty.\n",
        "tags": [
          "labels"
        ],
        "operationId": "labels.list",
        "parameters": [
          {
            "name": "label_status",
            "in": "query",
            "required": false,
            "schema": {
              "title": "label_status",
              "type": "string",
              "enum": [
                "processing",
                "completed",
                "error",
                "voided"
              ],
              "description": "The possible statuses that a [shipping label](https://docs.shipengine.com/docs/quickstart-create-a-label) can be in.\n\n|Status       |Description\n|:------------|:-----------------------------------------------------\n|`processing` |When labels are created in a [batch](https://docs.shipengine.com/docs/using-batches), it may take a few minutes for all of the labels in the batch to be created.  During this period, they will be in `processing` status.\n|`completed`  |The label was successfully created\n|`error`      |The label could not be created due to an error, such as an invalid delivery address\n|`voided`     |The label has been [voided](https://docs.shipengine.com/docs/void-a-label)\n"
            },
            "description": "Only return labels that are currently in the specified status"
          },
          {
            "name": "carrier_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "se_id",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^se(-[a-z0-9]+)+$",
              "example": "se-28529731",
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc."
            },
            "example": "se-28529731",
            "description": "Only return labels for a specific [carrier account](https://docs.shipengine.com/docs/setup-a-carrier)"
          },
          {
            "name": "service_code",
            "in": "query",
            "required": false,
            "schema": {
              "title": "service_code",
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "pattern": "^[a-z0-9]+([_-][a-z0-9]+)*\\s*$",
              "example": "usps_first_class_mail"
            },
            "example": "usps_first_class_mail",
            "description": "Only return labels for a specific [carrier service](https://docs.shipengine.com/docs/use-a-specific-service)"
          },
          {
            "name": "tracking_number",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "example": "1Z5615280351136446",
            "description": "Only return labels with a specific tracking number"
          },
          {
            "name": "batch_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "se_id",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^se(-[a-z0-9]+)+$",
              "example": "se-28529731",
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc."
            },
            "example": "se-28529731",
            "description": "Only return labels that were created in a specific [batch](https://docs.shipengine.com/docs/using-batches)"
          },
          {
            "name": "warehouse_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "se_id",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^se(-[a-z0-9]+)+$",
              "example": "se-28529731",
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc."
            },
            "example": "se-28529731",
            "description": "Only return labels that originate from a specific [warehouse](https://docs.shipengine.com/docs/ship-from-a-warehouse)"
          },
          {
            "name": "created_at_start",
            "in": "query",
            "required": false,
            "schema": {
              "title": "date_time",
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[-+]\\d{2}:\\d{2})$",
              "example": "2018-09-23T15:00:00.000Z",
              "description": "An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string that represents a date and time.\n"
            },
            "example": "2018-09-23T15:00:00.000Z",
            "description": "Only return labels that were created on or after a specific date/time"
          },
          {
            "name": "created_at_end",
            "in": "query",
            "required": false,
            "schema": {
              "title": "date_time",
              "type": "string",
              "format": "date-time",
              "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[-+]\\d{2}:\\d{2})$",
              "example": "2018-09-23T15:00:00.000Z",
              "description": "An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string that represents a date and time.\n"
            },
            "example": "2018-09-30T15:00:00.000Z",
            "description": "Only return labels that were created on or before a specific date/time"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 1
            },
            "example": 3,
            "description": "Return a specific \"page\" of results. Defaults to the first page. If set to a number that's greater than the number of pages of results, an empty page will be returned."
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "default": 25
            },
            "example": 50,
            "description": "The number of labels to return per response."
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "default": "desc",
              "title": "sort_dir",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Controls the sort order of queries\n\n|Value     |Description\n|:---------|:-----------------------------------------------------\n|`asc`     |Return results in ascending order\n|`desc`    |Return results in descending order\n"
            },
            "description": "Controls the sort order of the query."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "modified_at",
                "created_at"
              ],
              "default": "created_at"
            },
            "description": "Controls which property the query is sorted by."
          }
        ],
        "responses": {
          "200": {
            "description": "The response includes a `labels` array containing a page of results (as determined by the `page_size` query parameter).  It also includes other useful information, such as the total number of labels that match the query criteria, the number of pages of results, and the URLs of the first, last, next, and previous pages of results.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "list_label_response_body",
                  "type": "object",
                  "required": [
                    "labels",
                    "total",
                    "page",
                    "pages",
                    "links"
                  ],
                  "additionalProperties": false,
                  "properties": {
                    "labels": {
                      "type": "array",
                      "minItems": 0,
                      "items": {
                        "title": "label",
                        "type": "object",
                        "required": [
                          "label_id",
                          "status",
                          "shipment_id",
                          "ship_date",
                          "created_at",
                          "tracking_number",
                          "is_return_label",
                          "rma_number",
                          "is_international",
                          "batch_id",
                          "carrier_id",
                          "service_code",
                          "package_code",
                          "voided",
                          "voided_at",
                          "label_format",
                          "label_layout",
                          "trackable",
                          "carrier_code",
                          "tracking_status",
                          "shipment_cost",
                          "insurance_cost",
                          "label_download",
                          "form_download",
                          "insurance_claim",
                          "packages"
                        ],
                        "properties": {
                          "label_id": {
                            "readOnly": true,
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "status": {
                            "readOnly": true,
                            "title": "label_status",
                            "type": "string",
                            "enum": [
                              "processing",
                              "completed",
                              "error",
                              "voided"
                            ],
                            "description": "The possible statuses that a [shipping label](https://docs.shipengine.com/docs/quickstart-create-a-label) can be in.\n\n|Status       |Description\n|:------------|:-----------------------------------------------------\n|`processing` |When labels are created in a [batch](https://docs.shipengine.com/docs/using-batches), it may take a few minutes for all of the labels in the batch to be created.  During this period, they will be in `processing` status.\n|`completed`  |The label was successfully created\n|`error`      |The label could not be created due to an error, such as an invalid delivery address\n|`voided`     |The label has been [voided](https://docs.shipengine.com/docs/void-a-label)\n"
                          },
                          "shipment_id": {
                            "readOnly": true,
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "ship_date": {
                            "description": "An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string that represents a date, but not a specific time.  The value _may_ contain a time component, but it will be set to `00:00:00` UTC by ShipEngine.\n",
                            "title": "date",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[-+]\\d{2}:\\d{2}))?$",
                            "example": "2018-09-23T00:00:00.000Z"
                          },
                          "created_at": {
                            "readOnly": true,
                            "description": "An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string that represents a date and time.\n",
                            "title": "date_time",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[-+]\\d{2}:\\d{2})$",
                            "example": "2018-09-23T15:00:00.000Z"
                          },
                          "tracking_number": {
                            "type": "string",
                            "minLength": 1,
                            "readOnly": true,
                            "example": "782758401696",
                            "description": "The tracking number for the package. Tracking number formats vary across carriers."
                          },
                          "is_return_label": {
                            "type": "boolean",
                            "description": "Indicates whether this is a return label.  You may also want to set the `rma_number` so you know what is being returned."
                          },
                          "rma_number": {
                            "type": "string",
                            "description": "An optional Return Merchandise Authorization number.  This field is useful for return labels.  You can set it to any string value."
                          },
                          "is_international": {
                            "type": "boolean",
                            "readOnly": true,
                            "description": "Indicates whether this is an international shipment.  That is, the originating country and destination country are different."
                          },
                          "batch_id": {
                            "readOnly": true,
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "carrier_id": {
                            "readOnly": true,
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "service_code": {
                            "readOnly": true,
                            "description": "A [carrier service](https://docs.shipengine.com/docs/use-a-specific-service), such as `fedex_ground`, `usps_first_class_mail`, `flat_rate_envelope`, etc.\n",
                            "title": "service_code",
                            "type": "string",
                            "pattern": "^[a-z0-9]+(_[a-z0-9-]+)* ?$"
                          },
                          "voided": {
                            "type": "boolean",
                            "readOnly": true,
                            "description": "Indicates whether the label has been [voided](https://docs.shipengine.com/docs/void-a-label)"
                          },
                          "voided_at": {
                            "nullable": true,
                            "readOnly": true,
                            "description": "An [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) string that represents a date and time.\n",
                            "title": "date_time",
                            "type": "string",
                            "format": "date-time",
                            "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?(Z|[-+]\\d{2}:\\d{2})$",
                            "example": "2018-09-23T15:00:00.000Z"
                          },
                          "label_format": {
                            "default": "pdf",
                            "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n",
                            "title": "label_format",
                            "type": "string",
                            "enum": [
                              "pdf",
                              "png",
                              "zpl"
                            ]
                          },
                          "label_layout": {
                            "default": "4x6",
                            "description": "The available layouts (sizes) in which shipping labels can be downloaded.  The label format determines which sizes are supported.  `4x6` is supported for all label formats, whereas `letter` (8.5\" x 11\") is only supported for `pdf` format.\n",
                            "title": "label_layout",
                            "type": "string",
                            "enum": [
                              "4x6",
                              "letter"
                            ]
                          },
                          "trackable": {
                            "type": "boolean",
                            "readOnly": true,
                            "description": "Indicates whether the shipment is trackable, in which case the `tracking_status` field will reflect the current status and each package will have a `tracking_number`."
                          },
                          "carrier_code": {
                            "readOnly": true,
                            "description": "A [shipping carrier](https://docs.shipengine.com/docs/setup-a-carrier), such as `fedex`, `dhl_express`, `stamps_com`, etc.\n",
                            "title": "carrier_code",
                            "type": "string",
                            "pattern": "^[a-z0-9]+(_[a-z0-9]+)*$"
                          },
                          "tracking_status": {
                            "readOnly": true,
                            "description": "The different statuses that can apply to a shipment.",
                            "title": "tracking_status",
                            "type": "string",
                            "enum": [
                              "unknown",
                              "in_transit",
                              "error",
                              "delivered"
                            ]
                          }
                        },
                        "description": "A label represents the physical sticker that you affix to a package to ship it.  ShipEngine makes it easy for you to [create labels](https://docs.shipengine.com/docs/quickstart-create-a-label) and then download them in PDF, PNG, or ZPL format so you can print them.\n"
                      },
                      "description": "The labels that matched the query criteria.  If no matching labels were found, then this array will be empty; otherwise, it will contain one page of results.  The last page of results may have fewer labels than the `page_size`.\n"
                    },
                    "total": {
                      "type": "integer",
                      "minimum": 0,
                      "example": 2750,
                      "description": "The total number of items across all pages of results"
                    },
                    "page": {
                      "type": "integer",
                      "minimum": 1,
                      "example": 1,
                      "description": "The current page number of results.  For example, if there are 80 results, and the page size is 25, then `page` could be 1, 2, 3, or 4.  The first three pages would contain 25 items each, and the fourth page would contain the five remaining items."
                    },
                    "pages": {
                      "type": "integer",
                      "minimum": 0,
                      "example": 4,
                      "description": "The total number of pages of results.  For example, if there are 80 results, and the page size is 25, then `pages` would be 4.  The first three pages would contain 25 items each, and the fourth page would contain the five remaining items.  If there are no results, then `pages` will be zero."
                    },
                    "links": {
                      "title": "pagination_link",
                      "type": "object",
                      "description": "Helpful links to other pages of results",
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "first": {
                          "required": [
                            "href"
                          ],
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "last": {
                          "required": [
                            "href"
                          ],
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "prev": {
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "next": {
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        }
                      }
                    }
                  },
                  "description": "Many ShipEngine endpoints return a paged list of items.  In addition to the returned items, these responses also include information about the total number of items, the number of pages of results, and URLs of other pages of results.\n"
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/addresses/validate": {
      "post": {
        "tags": [
          "address_validation"
        ],
        "operationId": "addresses.validate_addresses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "address_validation_request_body",
                "type": "array",
                "items": {
                  "title": "address",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "name": {
                      "type": "string"
                    },
                    "phone": {
                      "type": "string"
                    },
                    "company_name": {
                      "type": "string"
                    },
                    "address_line1": {
                      "type": "string"
                    },
                    "address_line2": {
                      "type": "string"
                    },
                    "address_line3": {
                      "type": "string"
                    },
                    "city_locality": {
                      "type": "string"
                    },
                    "state_province": {
                      "type": "string"
                    },
                    "postal_code": {
                      "type": "string"
                    },
                    "country_code": {
                      "type": "string"
                    },
                    "address_residential_indicator": {
                      "title": "address_residential_indicator",
                      "type": "string",
                      "enum": [
                        "unknown",
                        "yes",
                        "no"
                      ],
                      "description": "The possible address residential indicator values"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "address_validation_response_body",
                  "type": "array",
                  "items": {
                    "title": "address_validation_result",
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "status": {
                        "title": "address_validation_status",
                        "type": "string",
                        "enum": [
                          "unverified",
                          "verified",
                          "warning",
                          "error"
                        ],
                        "description": "The possible address validation status values"
                      },
                      "original_address": {
                        "title": "address",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "address_line1": {
                            "type": "string"
                          },
                          "address_line2": {
                            "type": "string"
                          },
                          "address_line3": {
                            "type": "string"
                          },
                          "city_locality": {
                            "type": "string"
                          },
                          "state_province": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "country_code": {
                            "type": "string"
                          },
                          "address_residential_indicator": {
                            "title": "address_residential_indicator",
                            "type": "string",
                            "enum": [
                              "unknown",
                              "yes",
                              "no"
                            ],
                            "description": "The possible address residential indicator values"
                          }
                        }
                      },
                      "matched_address": {
                        "title": "address",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "phone": {
                            "type": "string"
                          },
                          "company_name": {
                            "type": "string"
                          },
                          "address_line1": {
                            "type": "string"
                          },
                          "address_line2": {
                            "type": "string"
                          },
                          "address_line3": {
                            "type": "string"
                          },
                          "city_locality": {
                            "type": "string"
                          },
                          "state_province": {
                            "type": "string"
                          },
                          "postal_code": {
                            "type": "string"
                          },
                          "country_code": {
                            "type": "string"
                          },
                          "address_residential_indicator": {
                            "title": "address_residential_indicator",
                            "type": "string",
                            "enum": [
                              "unknown",
                              "yes",
                              "no"
                            ],
                            "description": "The possible address residential indicator values"
                          }
                        }
                      },
                      "messages": {
                        "type": "array",
                        "items": {
                          "title": "response_message",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "code": {
                              "title": "code",
                              "type": "string",
                              "enum": [
                                "a1000",
                                "a1001",
                                "a1002",
                                "a1003",
                                "a1004",
                                "a1005",
                                "a1006",
                                "a1007",
                                "a1008",
                                "r1000",
                                "r1001",
                                "r1002",
                                "r1003"
                              ],
                              "description": "The possible code values"
                            },
                            "message": {
                              "type": "string"
                            },
                            "type": {
                              "title": "type",
                              "type": "string",
                              "enum": [
                                "error",
                                "warning",
                                "info"
                              ],
                              "description": "The possible type values"
                            },
                            "detail_code": {
                              "title": "detail_code",
                              "type": "string",
                              "enum": [
                                "non_supported_country",
                                "minimum_postal_code_verification_failed",
                                "street_does_not_match_unique_street_name",
                                "multiple_directionals",
                                "multiple_matches",
                                "suite_not_valid",
                                "suite_missing",
                                "invalid_house_number",
                                "missing_house_number",
                                "invalid_box_number",
                                "missing_box_number",
                                "missing_cmra_or_private_mail_box_number",
                                "suite_has_no_secondaries",
                                "postal_code_changed_or_added",
                                "state_province_changed_or_added",
                                "city_locality_changed_or_added",
                                "urbanization_changed",
                                "street_name_spelling_changed_or_added",
                                "street_name_type_changed_or_added",
                                "street_direction_changed_or_added",
                                "suite_type_changed_or_added",
                                "suite_unit_number_changed_or_added",
                                "double_dependent_locality_changed_or_added",
                                "subadministrative_area_changed_or_added",
                                "subnational_area_changed_or_added",
                                "p_o_box_changed_or_added",
                                "premise_type_changed_or_added",
                                "house_number_changed",
                                "organization_changed_or_added",
                                "partially_verified_to_state_level",
                                "partially_verified_to_city_level",
                                "partially_verified_to_street_level",
                                "partially_verified_to_premise_level",
                                "verified_to_state_level",
                                "verified_to_city_level",
                                "verified_to_street_level",
                                "verified_to_premise_level",
                                "verified_to_suite_level",
                                "coded_to_street_lavel",
                                "coded_to_neighborhood_level",
                                "coded_to_community_level",
                                "coded_to_state_level",
                                "coded_to_rooftop_level",
                                "coded_to_rooftop_interpolation_level"
                              ],
                              "description": "The possible detail code values"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches": {
      "get": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.list",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "title": "batch_status",
              "type": "string",
              "enum": [
                "open",
                "queued",
                "processing",
                "completed",
                "completed_with_errors",
                "archived",
                "notifying",
                "invalid"
              ],
              "description": "The possible batch status values"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "required": false,
            "schema": {
              "title": "sort_dir",
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Controls the sort order of queries\n\n|Value     |Description\n|:---------|:-----------------------------------------------------\n|`asc`     |Return results in ascending order\n|`desc`    |Return results in descending order\n"
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "title": "batches_sort_by",
              "type": "string",
              "enum": [
                "ship_date",
                "processed_at"
              ],
              "description": "The possible batches sort by values"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "list_batch_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "batches": {
                      "type": "array",
                      "items": {
                        "title": "batch",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "label_layout": {
                            "type": "string"
                          },
                          "label_format": {
                            "title": "label_format",
                            "type": "string",
                            "enum": [
                              "pdf",
                              "png",
                              "zpl"
                            ],
                            "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                          },
                          "batch_id": {
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "external_batch_id": {
                            "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                            "title": "se_id",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 25,
                            "pattern": "^se(-[a-z0-9]+)+$",
                            "example": "se-28529731"
                          },
                          "batch_notes": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "processed_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "errors": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "warnings": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "completed": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "forms": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "count": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "batch_shipments_url": {
                            "title": "link",
                            "type": "object",
                            "description": "A link to a related resource",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "batch_labels_url": {
                            "title": "link",
                            "type": "object",
                            "description": "A link to a related resource",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "batch_errors_url": {
                            "title": "link",
                            "type": "object",
                            "description": "A link to a related resource",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "label_download": {
                            "title": "link",
                            "type": "object",
                            "description": "A link to a related resource",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "form_download": {
                            "title": "link",
                            "type": "object",
                            "description": "A link to a related resource",
                            "additionalProperties": false,
                            "properties": {
                              "href": {
                                "description": "The URL of the linked resource",
                                "title": "url",
                                "type": "string",
                                "format": "url",
                                "minLength": 1,
                                "example": "http://api.shipengine.com/v1/labels/se-28529731"
                              },
                              "type": {
                                "type": "string",
                                "minLength": 1,
                                "description": "The type of resource, or the type of relationship to the parent resource"
                              }
                            }
                          },
                          "status": {
                            "title": "batch_status",
                            "type": "string",
                            "enum": [
                              "open",
                              "queued",
                              "processing",
                              "completed",
                              "completed_with_errors",
                              "archived",
                              "notifying",
                              "invalid"
                            ],
                            "description": "The possible batch status values"
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "page": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "pages": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "links": {
                      "title": "pagination_link",
                      "type": "object",
                      "description": "Helpful links to other pages of results",
                      "required": [
                        "first",
                        "last",
                        "prev",
                        "next"
                      ],
                      "additionalProperties": false,
                      "properties": {
                        "first": {
                          "required": [
                            "href"
                          ],
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "last": {
                          "required": [
                            "href"
                          ],
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "prev": {
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        },
                        "next": {
                          "description": "A link to a related resource",
                          "title": "link",
                          "type": "object",
                          "additionalProperties": false,
                          "properties": {
                            "href": {
                              "description": "The URL of the linked resource",
                              "title": "url",
                              "type": "string",
                              "format": "url",
                              "minLength": 1,
                              "example": "http://api.shipengine.com/v1/labels/se-28529731"
                            },
                            "type": {
                              "type": "string",
                              "minLength": 1,
                              "description": "The type of resource, or the type of relationship to the parent resource"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.create",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "title": "create_batch_request_body",
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "external_batch_id": {
                    "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                    "title": "se_id",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 25,
                    "pattern": "^se(-[a-z0-9]+)+$",
                    "example": "se-28529731"
                  },
                  "batch_notes": {
                    "type": "string"
                  },
                  "shipment_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "rate_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested object creation was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "batch",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "label_layout": {
                      "type": "string"
                    },
                    "label_format": {
                      "title": "label_format",
                      "type": "string",
                      "enum": [
                        "pdf",
                        "png",
                        "zpl"
                      ],
                      "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                    },
                    "batch_id": {
                      "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "external_batch_id": {
                      "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "batch_notes": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "processed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "errors": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "warnings": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "completed": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "forms": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "batch_shipments_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_labels_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_errors_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "label_download": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "form_download": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "status": {
                      "title": "batch_status",
                      "type": "string",
                      "enum": [
                        "open",
                        "queued",
                        "processing",
                        "completed",
                        "completed_with_errors",
                        "archived",
                        "notifying",
                        "invalid"
                      ],
                      "description": "The possible batch status values"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An error occurred on ShipEngine's side.\n\n> This error will automatically be reported to our engineers.\n",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batches/external_batch_id/{external_batch_id}": {
      "get": {
        "tags": [
          "batches"
        ],
        "operationId": "batches.get_by_external_id",
        "parameters": [
          {
            "name": "external_batch_id",
            "in": "path",
            "required": true,
            "schema": {
              "title": "se_id",
              "type": "string",
              "minLength": 1,
              "maxLength": 25,
              "pattern": "^se(-[a-z0-9]+)+$",
              "example": "se-28529731",
              "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was a success.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "batch",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "label_layout": {
                      "type": "string"
                    },
                    "label_format": {
                      "title": "label_format",
                      "type": "string",
                      "enum": [
                        "pdf",
                        "png",
                        "zpl"
                      ],
                      "description": "The possible file formats in which shipping labels can be downloaded.  We recommend `pdf` format because it is supported by all carriers, whereas some carriers do not support the `png` or `zpl` formats.\n\n|Label Format  | Supported Carriers\n|--------------|-----------------------------------\n|`pdf`         | All carriers\n|`png`         | `fedex` <br> `stamps_com` <br> `ups` <br> `usps`\n|`zpl`         | `access_worldwide` <br> `apc` <br> `asendia` <br> `dhl_global_mail` <br> `dhl_express` <br> `dhl_express_australia` <br> `dhl_express_canada` <br> `dhl_express_worldwide` <br> `dhl_express_uk` <br> `dpd` <br> `endicia` <br> `fedex` <br> `fedex_uk` <br> `firstmile` <br> `globegistics` <br> `imex` <br> `newgistics` <br> `ontrac` <br> `rr_donnelley` <br> `stamps_com` <br> `ups` <br> `usps`\n"
                    },
                    "batch_id": {
                      "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "external_batch_id": {
                      "description": "A string that uniquely identifies a ShipEngine resource, such as a carrier, label, shipment, etc.",
                      "title": "se_id",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 25,
                      "pattern": "^se(-[a-z0-9]+)+$",
                      "example": "se-28529731"
                    },
                    "batch_notes": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "processed_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "errors": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "warnings": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "completed": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "forms": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "batch_shipments_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_labels_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "batch_errors_url": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "label_download": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "form_download": {
                      "title": "link",
                      "type": "object",
                      "description": "A link to a related resource",
                      "additionalProperties": false,
                      "properties": {
                        "href": {
                          "description": "The URL of the linked resource",
                          "title": "url",
                          "type": "string",
                          "format": "url",
                          "minLength": 1,
                          "example": "http://api.shipengine.com/v1/labels/se-28529731"
                        },
                        "type": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The type of resource, or the type of relationship to the parent resource"
                        }
                      }
                    },
                    "status": {
                      "title": "batch_status",
                      "type": "string",
                      "enum": [
                        "open",
                        "queued",
                        "processing",
                        "completed",
                        "completed_with_errors",
                        "archived",
                        "notifying",
                        "invalid"
                      ],
                      "description": "The possible batch status values"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request contained errors.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "request_id": {
                      "description": "A UUID (a.k.a. GUID) that uniquely identifies a resource",
                      "title": "uuid",
                      "type": "string",
                      "format": "uuid",
                      "minLength": 36,
                      "maxLength": 36,
                      "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
                      "example": "aa3d8e8e-462b-4476-9618-72db7f7b7009"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "title": "api_error",
                        "type": "object",
                        "additionalProperties": false,
                        "properties": {
                          "error_code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The specified resource does not exist.",
            "content": {
              "application/json": {
                "schema": {
                  "title": "error_response_body",
[...]
