openapi: 3.0.0
info:
  title: ShipEngine API
  version: 1.0.0
  termsOfService: 'https://www.shipengine.com/terms-of-service'
  contact:
    name: ShipEngine Sales & Support
    email: sales@shipengine.com
    url: 'https://www.shipengine.com/contact-us'
  description: |
    ShipEngine is the world's best multi-carrier shipping API, with more than 20 supported shipping carriers.  You can easily get and compare shipping rates, print labels, track your shipments, and validate addresses anywhere in the world.

    ### Worldwide Major Carrier Support
    Access the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).

    ### Real-Time Tracking
    [Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.

    ### Get Rates Across Carriers
    Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.

    ### Global Address Validation
    No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)

    ShipEngine supports address validation for over 180 countries, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and more.
tags:
  - name: addresses
    description: |
      No matter your shipping volume, failed deliveries and address change surcharges cut into your bottom line and damage perception with customers. Our address validation services ensure your packages make it to the right place the first time. [Learn how to leverage our address validation services here.](https://docs.shipengine.com/docs/address-validation)

      ShipEngine supports address validation for virtually every country on Earth, including the United States, Canada, Great Britain, Australia, Germany, France, Norway, Spain, Sweden, Israel, Italy, and over 160 others.
    externalDocs:
      url: 'https://docs.shipengine.com/docs/address-validation'
      description: |
        Address validation ensures accurate addresses and can lead to reduced shipping costs by preventing address correction surcharges. ShipEngine cross references multiple databases to validate addresses and identify potential deliverability issues.
  - name: batches
    description: |
      batches
  - name: carrier_accounts
    description: |
      carrier accounts
  - name: carriers
    description: |
      carriers
  - name: insurance
    description: |
      insurance
  - name: labels
    description: |
      Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).
    externalDocs:
      url: 'https://docs.shipengine.com/docs/quickstart-create-a-label'
      description: Follow this quick start guide to create your first shipping label with ShipEngine
  - name: manifests
    description: |
      manifests
  - name: natural_language_processing
    description: |
      ShipEngine's NLP (Natural Language Processing) APIs make it easy for you to extract structured shipping data — such as addresses, names, package weight and dimensions, insurance options, and more — from unstructured text like emails, PDFs, and chat messages.
    externalDocs:
      url: 'https://docs.shipengine.com/docs/natural-language-processing-nlp'
      description: 'Find out how our Natural Language Processing APIs can help you extract useful and meaningful data from emails, documents, chat messages, or any other text source.'
  - name: order_source_accounts
    description: |
      order source accounts
  - name: packages
    description: |
      packages
  - name: rates
    description: |
      Make sure you ship as cost-effectively as possible by [quickly comparing rates](https://docs.shipengine.com/docs/get-shipping-rates) using the ShipEngine Rates API. As long as you have the carrier connected to your account, you'll be able to see and compare different rates and services.
    externalDocs:
      url: 'https://docs.shipengine.com/docs/get-shipping-rates'
      description: |
        This quick start guide shows you how to get shipping rates for multiple carriers so you can choose the fastest, cheapest, or most reliable option.
  - name: shipments
    description: |
      Shipments are at the center of the ShipEngine API.  A shipment is the first step in [creating a shipping label](https://docs.shipengine.com/docs/quickstart-create-a-label), or [creating a manifest](https://docs.shipengine.com/docs/understand-and-create-manifests).  It's also essential for [getting shipping rates](https://docs.shipengine.com/docs/get-shipping-rates).
    externalDocs:
      url: 'https://docs.shipengine.com/docs/create-a-shipment'
      description: |
        Learn about the shipment object model concept, and how to persist and re-use shipment data inside ShipEngine.
  - name: tags
    description: |
      tags
  - name: tracking
    description: |
      [Track packages](https://docs.shipengine.com/docs/track-a-package) across any of our 20+ supported carrier accounts and create tracking events to keep your customers up-to-date. Easily integrate real-time tracking information for shipments into your app, email, or SMS.
    externalDocs:
      url: 'https://docs.shipengine.com/docs/track-a-package'
      description: Learn how to use ShipEngine to track any package with a carrier and a tracking number
  - name: warehouses
    description: |
      warehouses
  - name: webhooks
    description: |
      [Webhooks](https://docs.shipengine.com/docs/setting-up-web-hooks) are a powerful feature of ShipEngine that can save you from sending repeated polling requests to check on the state of something.  With webhooks, ShipEngine will automatically contact your servers when the stage changes.  This can include [parcel tracking](https://docs.shipengine.com/docs/track-a-package) events, notification of the completion of a [batch operation](https://docs.shipengine.com/docs/using-batches),  or new [salses orders](https://docs.shipengine.com/docs/sales-orders-getting-started).
    externalDocs:
      url: 'https://docs.shipengine.com/docs/setting-up-web-hooks'
      description: Learn how to setup webhooks and start listening to ShipEngine events.
externalDocs:
  url: 'https://docs.shipengine.com'
  description: |
    ShipEngine's documentation is designed to help you start shipping as quickly as possible. With easy-to-follow quick start guides, detailed reference docs, and ready-made recipes for common use cases, you'll see real results in no time at all.
servers:
  - url: 'https://api.shipengine.com'
security:
  - api_key: []
paths:
  /v1/addresses/recognize:
    summary: Parse an address
    description: |
      Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful address data (e.g. recipient name, address line 1, line 2, city, postal code) from this unstructured text.
    put:
      summary: Parse an address
      description: |
        The address-recognition API makes it easy for you to extract address data from unstructured text, including the recipient name, line 1, line 2, city, postal code, and more.

        Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's address-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed address data is returned in the same structure that's used for other ShipEngine APIs, such as address validation, rate quotes, and shipping labels.

        > **Note:** Address recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      tags:
        - addresses
        - natural_language_processing
      operationId: address.parse
      requestBody:
        required: true
        description: |
          The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
        content:
          application/json:
            schema:
              title: recognize_address_request_body
              type: object
              description: |
                The only required field is `text`, which is the text to be parsed. You can optionally also provide an `address` containing already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
              required:
                - text
              additionalProperties: false
              properties:
                text:
                  type: string
                  minLength: 1
                  example: 'Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.'
                  description: The unstructured text that contains address-related entities
                address:
                  allOf:
                    - $ref: '#/components/schemas/address'
                  description: |
                    You can optionally provide any already-known address values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
            examples:
              text_only:
                summary: Text only
                description: |
                  This is the simplest way to call the address-recognition API. Just pass the text to be parsed and nothing else.
                value:
                  text: 'Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.'
              some_known_fields:
                summary: Some known fields
                description: |
                  You can optionally provide an `address` object containing any already-known values. For example, you may already know the recipient's name, city, and country, and only want to parse the street address into separate lines.
                value:
                  text: 'Margie McMiller at 3800 North Lamar suite 200 in austin, tx.  The zip code there is 78652.'
                  address:
                    country_code: US
                    address_residential_indicator: 'yes'
      responses:
        '200':
          description: |
            Returns the parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.
          content:
            application/json:
              schema:
                title: recognize_address_response_body
                type: object
                description: |
                  The parsed address, as well as a confidence score and a list of all the entities that were recognized in the text.
                required:
                  - score
                  - address
                  - entities
                additionalProperties: false
                properties:
                  score:
                    type: number
                    format: double
                    minimum: 0
                    maximum: 1
                    description: |
                      A confidence score between zero and one that indicates how certain the API is that it understood the text.
                  address:
                    allOf:
                      - $ref: '#/components/schemas/address'
                    description: |
                      The parsed address.  This address may not be complete, depending on how much information was included in the text and how confident the API is about each recognized entity.

                      > **Note:** The address-recognition API does not currently perform any validation of the parsed address, so we recommend that you use the [address-validation API](https://docs.shipengine.com/docs/address-validation) to ensure that the address is correct.
                  entities:
                    type: array
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/recognized_entity'
                    description: |
                      All of the entities that were recognized in the text. An "entity" is a single piece of data, such as a city, a postal code, or an address line.  Each entity includes the original text and the parsed value.
              examples:
                text_only:
                  description: |
                    This response shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` is not populated and the `address_residential_indicator` is "unknown", since neither of these fields was included in the text.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      address_residential_indicator: unknown
                    entities:
                      - type: person
                        score: 0.9519646137063122
                        text: Margie McMiller
                        start_index: 0
                        end_index: 14
                        result:
                          value: Margie McMiller
                      - type: address_line
                        score: 0.9805313966503588
                        text: 3800 North Lamar
                        start_index: 19
                        end_index: 34
                        result:
                          line: 1
                          value: 3800 North Lamar
                      - type: number
                        score: 0.9805313966503588
                        text: 3800
                        start_index: 19
                        end_index: 22
                        result:
                          type: cardinal
                          value: 3800
                      - type: address_line
                        score: 1
                        text: suite 200
                        start_index: 36
                        end_index: 44
                        result:
                          line: 2
                          value: Suite 200
                      - type: number
                        score: 0.9805313966503588
                        text: 200
                        start_index: 42
                        end_index: 44
                        result:
                          type: cardinal
                          value: 200
                      - type: city_locality
                        score: 0.9805313966503588
                        text: austin
                        start_index: 49
                        end_index: 54
                        result:
                          value: Austin
                      - type: state_province
                        score: 0.6082904353940255
                        text: tx
                        start_index: 57
                        end_index: 58
                        result:
                          name: Texas
                          value: TX
                      - type: postal_code
                        score: 0.9519646137063122
                        text: 78652
                        start_index: 84
                        end_index: 88
                        result:
                          value: 78652
                some_known_fields:
                  description: |
                    This response is shows that the address-recognition API was able to recognize all the address entities in the text.  Notice that the `country_code` and `address_residential_indicator` fields are populated with the values that were provided in the request.
                  value:
                    score: 0.9122137426845613
                    address:
                      name: Margie McMiller
                      address_line1: 3800 North Lamar
                      address_line2: Suite 200
                      city_locality: Austin
                      state_province: TX
                      postal_code: 78652
                      country_code: US
                      address_residential_indicator: 'yes'
                    entities:
                      $ref: '#/paths/~1v1~1addresses~1recognize/put/responses/200/content/application~1json/examples/text_only/value/entities'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/addresses/validate:
    post:
      tags:
        - addresses
      operationId: addresses.validate_addresses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/address_validation_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_validation_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/batches:
    get:
      tags:
        - batches
      operationId: batches.list
      parameters:
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/batch_status'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sort_dir
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/sort_dir'
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/batches_sort_by'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_batch_response_body'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - batches
      operationId: batches.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_batch_request_body'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_batch_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/external_batch_id/{external_batch_id}':
    get:
      tags:
        - batches
      operationId: batches.get_by_external_id
      parameters:
        - name: external_batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batches_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/{batch_id}':
    get:
      tags:
        - batches
      operationId: batches.get_by_id
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batches_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/{batch_id}/add':
    post:
      tags:
        - batches
      operationId: batches.add_to_batch
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/{batch_id}/errors':
    get:
      tags:
        - batches
      operationId: batches.list_errors
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pagesize
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batch_errors_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/{batch_id}/process/labels':
    post:
      tags:
        - batches
      operationId: batches.process
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/process_batch_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/batches/{batch_id}/remove':
    post:
      tags:
        - batches
      operationId: batches.remove_from_batch
      parameters:
        - name: batch_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/modify_batch_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/carriers:
    get:
      tags:
        - carriers
      operationId: carriers.list
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier_list_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/carriers/{carrier_id}':
    get:
      tags:
        - carriers
      operationId: carriers.get_by_id
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/carriers/{carrier_id}/add_funds':
    put:
      tags:
        - carriers
      operationId: carriers.add_funds
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/money_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier_balance_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/carriers/{carrier_id}/options':
    get:
      tags:
        - carriers
      operationId: carriers.get_options
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier_list_options_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/carriers/{carrier_id}/packages':
    get:
      tags:
        - carriers
      operationId: carriers.list_packages
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_list_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/carriers/{carrier_id}/services':
    get:
      tags:
        - carriers
      operationId: carriers.list_services
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carrier_list_services_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/access_worldwide:
    post:
      tags:
        - carrier_accounts
      operationId: access_worldwide_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_access_worldwide_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/access_worldwide/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: access_worldwide_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/apc:
    post:
      tags:
        - carrier_accounts
      operationId: apc_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_apc_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/apc/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: apc_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/asendia:
    post:
      tags:
        - carrier_accounts
      operationId: asendia_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_asendia_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/asendia/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: asendia_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/australia_post:
    post:
      tags:
        - carrier_accounts
      operationId: australia_post_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_australia_post_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/australia_post/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: australia_post_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dhl_ecommerce:
    post:
      tags:
        - carrier_accounts
      operationId: dhl_ecommerce_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dhl_ecommerce_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_ecommerce/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dhl_ecommerce_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dhl_express:
    post:
      tags:
        - carrier_accounts
      operationId: dhl_express_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dhl_express_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_express/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dhl_express_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_express/{carrier_id}/settings':
    get:
      tags:
        - carrier_accounts
      operationId: dhl_express_account_carrier.get_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dhl_express_settings_response_body'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - carrier_accounts
      operationId: dhl_express_account_carrier.update_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_dhl_express_settings_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dhl_express_au:
    post:
      tags:
        - carrier_accounts
      operationId: dhl_express_au_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dhl_express_au_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_express_au/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dhl_express_au_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dhl_express_ca:
    post:
      tags:
        - carrier_accounts
      operationId: dhl_express_ca_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dhl_express_ca_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_express_ca/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dhl_express_ca_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dhl_express_uk:
    post:
      tags:
        - carrier_accounts
      operationId: dhl_express_uk_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dhl_express_uk_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dhl_express_uk/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dhl_express_uk_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/dpd:
    post:
      tags:
        - carrier_accounts
      operationId: dpd_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_dpd_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/dpd/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: dpd_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/endicia:
    post:
      tags:
        - carrier_accounts
      operationId: endicia_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_endicia_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/endicia/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: endicia_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/fedex:
    post:
      tags:
        - carrier_accounts
      operationId: fedex_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_fedex_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/fedex/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: fedex_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/fedex/{carrier_id}/settings':
    get:
      tags:
        - carrier_accounts
      operationId: fedex_account_carrier.get_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/fedex_settings_response_body'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - carrier_accounts
      operationId: fedex_account_carrier.update_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_fedex_settings_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/fedex_uk:
    post:
      tags:
        - carrier_accounts
      operationId: fedex_uk_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_fedex_uk_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/fedex_uk/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: fedex_uk_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/firstmile:
    post:
      tags:
        - carrier_accounts
      operationId: first_mile_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_first_mile_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/firstmile/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: first_mile_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/globegistics:
    post:
      tags:
        - carrier_accounts
      operationId: globegistics_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_globegistics_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/globegistics/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: globegistics_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/imex:
    post:
      tags:
        - carrier_accounts
      operationId: imex_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_imex_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/imex/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: imex_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/newgistics:
    post:
      tags:
        - carrier_accounts
      operationId: newgistics_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_newgistics_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/newgistics/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: newgistics_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/newgistics/{carrier_id}/settings':
    put:
      tags:
        - carrier_accounts
      operationId: newgistics_account_carrier.update_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/newgistics_account_settings_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/ontrac:
    post:
      tags:
        - carrier_accounts
      operationId: ontrac_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_ontrac_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/ontrac/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: ontrac_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/purolator_canada:
    post:
      tags:
        - carrier_accounts
      operationId: purolator_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_purolator_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/purolator_canada/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: purolator_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/royal_mail:
    post:
      tags:
        - carrier_accounts
      operationId: royal_mail_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_royal_mail_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/royal_mail/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: royal_mail_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/rr_donnelley:
    post:
      tags:
        - carrier_accounts
      operationId: rr_donnelley_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_rr_donnelley_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/rr_donnelley/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: rr_donnelley_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/sendle:
    post:
      tags:
        - carrier_accounts
      operationId: sendle_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_sendle_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/sendle/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: sendle_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/stamps_com:
    post:
      tags:
        - carrier_accounts
      operationId: stamps_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_stamps_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/stamps_com/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: stamps_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/stamps_com/{carrier_id}/request_account_url':
    put:
      tags:
        - carrier_accounts
      operationId: stamps_account_carrier.get_account_url
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/stamps_account_urls_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stamps_account_url_list_response_body'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/connections/carriers/ups:
    post:
      tags:
        - carrier_accounts
      operationId: ups_account_carrier.connect_account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/connect_ups_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/connect_account_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/ups/{carrier_id}':
    delete:
      tags:
        - carrier_accounts
      operationId: ups_account_carrier.disconnect_account
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/connections/carriers/ups/{carrier_id}/settings':
    get:
      tags:
        - carrier_accounts
      operationId: ups_account_carrier.get_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ups_settings_response_body'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - carrier_accounts
      operationId: ups_account_carrier.update_settings
      parameters:
        - name: carrier_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_ups_settings_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/environment/webhooks:
    get:
      tags:
        - webhooks
      operationId: environment.webhooks
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_list_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - webhooks
      operationId: environment.create_webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_webhook_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '409':
          $ref: '#/components/responses/conflict'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/environment/webhooks/{webhook_id}':
    get:
      tags:
        - webhooks
      operationId: environment.get_webhook_by_id
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/webhook_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - webhooks
      operationId: environment.update_webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_webhook_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
    delete:
      tags:
        - webhooks
      operationId: environment.delete_webhook
      parameters:
        - name: webhook_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/insurance/shipsurance/add_funds:
    patch:
      tags:
        - insurance
      operationId: insurance.add_funds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/money_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insurance_balance_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/insurance/shipsurance/balance:
    get:
      tags:
        - insurance
      operationId: insurance.get_balance
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/insurance_balance_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/labels:
    summary: Print shipping labels
    description: |
      Print shipping labels for any of the top global carriers in minutes—instead of weeks. Simply [connect your existing carrier accounts](https://docs.shipengine.com/docs/setup-a-carrier) in the API dashboard, and then [begin creating labels](https://docs.shipengine.com/docs/use-a-specific-service).
    get:
      summary: List labels
      description: |
        This endpoint returns a list of labels that you've [created](https://docs.shipengine.com/docs/quickstart-create-a-label). You can optionally filter the results as well as control their sort order and the number of results returned at a time.

        By default, all labels are returned, 25 at a time, starting with the most recently created ones.  You can combine multiple filter options to narrow-down the results.  For example, if you only want to get your UPS labels for your east coast warehouse you could query by both `warehouse_id` and `carrier_id`

        > **Warning:** Test labels (those created with `test_label: true`) are not included in the results.  If you've only ever created test labels, then the results will be empty.
      tags:
        - labels
      operationId: list_labels
      parameters:
        - name: label_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/label_status'
          description: Only return labels that are currently in the specified status
        - name: carrier_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
          example: se-28529731
          description: 'Only return labels for a specific [carrier account](https://docs.shipengine.com/docs/setup-a-carrier)'
        - name: service_code
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/service_code'
          example: usps_first_class_mail
          description: 'Only return labels for a specific [carrier service](https://docs.shipengine.com/docs/use-a-specific-service)'
        - name: tracking_number
          in: query
          required: false
          schema:
            type: string
            minLength: 1
          example: 1Z5615280351136446
          description: Only return labels with a specific tracking number
        - name: batch_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
          example: se-28529731
          description: 'Only return labels that were created in a specific [batch](https://docs.shipengine.com/docs/using-batches)'
        - name: warehouse_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
          example: se-28529731
          description: 'Only return labels that originate from a specific [warehouse](https://docs.shipengine.com/docs/ship-from-a-warehouse)'
        - name: created_at_start
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/date_time'
          example: 2018-09-23T15:00:00.000Z
          description: Only return labels that were created on or after a specific date/time
        - name: created_at_end
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/date_time'
          example: 2018-09-30T15:00:00.000Z
          description: Only return labels that were created on or before a specific date/time
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 1
          example: 3
          description: 'Return a specific page of results. Defaults to the first page. If set to a number that''s greater than the number of pages of results, an empty page is returned.'
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            minimum: 1
            default: 25
          example: 50
          description: The number of labels to return per response.
        - name: sort_dir
          in: query
          required: false
          schema:
            allOf:
              - $ref: '#/components/schemas/sort_dir'
            default: desc
          description: Controls the sort order of the query.
        - name: sort_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - modified_at
              - created_at
            default: created_at
          description: Controls which field the query is sorted by.
      responses:
        '200':
          description: |
            The response includes a `labels` array containing a page of results (as determined by the `page_size` query parameter).  It also includes other useful information, such as the total number of labels that match the query criteria, the number of pages of results, and the URLs of the first, last, next, and previous pages of results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - labels
      operationId: labels.purchase_label
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/purchase_label_request_body'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/labels/rates/{rate_id}':
    post:
      tags:
        - labels
      operationId: labels.purchase_label_with_rate
      parameters:
        - name: rate_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/purchase_label_without_shipment_request_body'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/labels/shipment/{shipment_id}':
    post:
      tags:
        - labels
      operationId: labels.purchase_label_with_shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/purchase_label_without_shipment_request_body'
      responses:
        '200':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/labels/{label_id}':
    get:
      tags:
        - labels
      operationId: labels.get_by_id
      parameters:
        - name: label_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/labels/{label_id}/track':
    get:
      tags:
        - labels
      operationId: labels.track
      parameters:
        - name: label_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tracking_information_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/labels/{label_id}/void':
    put:
      tags:
        - labels
      operationId: labels.void_label
      parameters:
        - name: label_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/void_label_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/manifests:
    get:
      tags:
        - manifests
      operationId: manifests.list
      parameters:
        - name: warehouse_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - name: ship_date_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: ship_date_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: carrier_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_manifests_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - manifests
      operationId: manifests.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_manifest_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manifest_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/manifests/{manifest_id}':
    get:
      tags:
        - manifests
      operationId: manifests.get_by_id
      parameters:
        - name: manifest_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/manifest_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/packages:
    get:
      tags:
        - packages
      operationId: packages.list
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_list_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - packages
      operationId: packages.create
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/package_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/packages/{package_id}':
    get:
      tags:
        - packages
      operationId: packages.get_by_id
      parameters:
        - name: package_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/package_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - packages
      operationId: packages.update
      parameters:
        - name: package_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/package_request_body'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    delete:
      tags:
        - packages
      operationId: packages.delete
      parameters:
        - name: package_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/rates:
    post:
      tags:
        - rates
      operationId: rates.rate_shipment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_shipment_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate_shipment_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/rates/bulk:
    post:
      tags:
        - rates
      operationId: rates.bulk_rate_shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_shipments_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk_rate_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/rates/estimate:
    post:
      tags:
        - rates
      operationId: rates.estimate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/rate_estimate_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate_estimate_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/rates/{rate_id}':
    get:
      tags:
        - rates
      operationId: rates.get_by_id
      parameters:
        - name: rate_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/shipments:
    get:
      tags:
        - shipments
      operationId: shipments.list
      parameters:
        - name: batch_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/se_id'
        - name: tag
          in: query
          required: false
          schema:
            type: string
        - name: shipment_status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/shipment_status'
        - name: modified_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: modified_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: created_at_end
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: page_size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sort_dir
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/sort_dir'
        - name: sort_by
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/shipments_sort_by'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list_shipment_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    post:
      tags:
        - shipments
      operationId: shipments.create_shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create_shipments_request_body'
      responses:
        '201':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_shipments_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/external_shipment_id/{external_shipment_id}':
    get:
      tags:
        - shipments
      operationId: shipments.get_by_external_id
      parameters:
        - name: external_shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/{shipment_id}':
    get:
      tags:
        - shipments
      operationId: shipments.get_by_id
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    put:
      tags:
        - shipments
      operationId: shipments.update_shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update_shipment_request_body'
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create_shipment_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/{shipment_id}/cancel':
    put:
      tags:
        - shipments
      operationId: shipments.cancel
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/{shipment_id}/errors':
    get:
      tags:
        - shipments
      operationId: shipments.list_errors
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: pagesize
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_errors_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/{shipment_id}/rates':
    get:
      tags:
        - shipments
      operationId: shipments.get_rates_for_shipment
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
        - name: created_at_start
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: The request was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rate_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  '/v1/shipments/{shipment_id}/tags/{tag}':
    post:
      tags:
        - shipments
      operationId: shipments.add_tag
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
        - name: tag
          in: path
          required: true
          schema:
            type: string
      responses:
        '201':
          description: The requested object creation was a success.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/shipment_add_tag_response_body'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
    delete:
      tags:
        - shipments
      operationId: shipments.remove_tag
      parameters:
        - name: shipment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/se_id'
        - name: tag
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          $ref: '#/components/responses/no_content'
        '400':
          $ref: '#/components/responses/bad_request'
        '404':
          $ref: '#/components/responses/not_found'
        '500':
          $ref: '#/components/responses/server_error'
  /v1/shipments/recognize:
    summary: Parse shipping info
    description: |
      Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's shipment-recognition API helps you extract meaningful shipping data (people's names, addresses, package weights and dimensions, insurance and delivery requirements, etc.) from this unstructured text.
    put:
      summary: Parse shipping info
      description: |
        The shipment-recognition API makes it easy for you to extract shipping data from unstructured text, including people's names, addresses, package weights and dimensions, insurance and delivery requirements, and more.

        Data often enters your system as unstructured text (for example: emails, SMS messages, support tickets, or other documents). ShipEngine's shipment-recognition API helps you extract meaningful, structured data from this unstructured text. The parsed shipment data is returned in the same structure that's used for other ShipEngine APIs, so you can easily use the parsed data to create a shipping label.

        > **Note:** Shipment recognition is currently supported for the United States, Canada, Australia, New Zealand, the United Kingdom, and Ireland.
      tags:
        - shipments
        - natural_language_processing
      operationId: shipment.parse
      requestBody:
        required: true
        description: |
          The only required field is `text`, which is the text to be parsed. You can optionally also provide a `shipment` containing any already-known values. For example, you probably already know the `ship_from` address, and you may also already know what carrier and service you want to use.
        content:
          application/json:
            schema:
              title: recognize_shipment_request_body
              type: object
              description: |
                The only required field is `text`, which is the text to be parsed. You can optionally also provide a `shipment` containing any already-known values. For example, you probably already know the `ship_from` address, and you may also already know what carrier and service you want to use.
              required:
                - text
              additionalProperties: false
              properties:
                text:
                  type: string
                  minLength: 1
                  example: |
                    I have a 4oz package that's 5x10x14in, and I need to ship it to Margie McMiller at 3800 North Lamar suite 200 in austin, tx 78652. Please send it via USPS first class and require an adult signature. It also needs to be insured for $400.
                  description: The unstructured text that contains shipping-related entities
                shipment:
                  allOf:
                    - $ref: '#/components/schemas/shipment'
                  description: |
                    You can optionally provide a `shipment` object containing any already-known values. For example, you probably already know the `ship_from` address, and you may also already know what carrier and service you want to use.
            examples:
              text_only:
                summary: Text only
                description: |
                  This is the simplest way to call the shipment-recognition API. Just pass the text to be parsed and nothing else.
                value:
                  text: |
                    I have a 4oz package that's 5x10x14in, and I need to ship it to Margie McMiller at 3800 North Lamar suite 200 in austin, tx 78652. Please send it via USPS first class and require an adult signature. It also needs to be insured for $400.
              some_known_fields:
                summary: Some known fields
                description: |
[...]
